body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:698px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u0 {
  position:absolute;
  left:270px;
  top:30px;
  width:148px;
  height:18px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
}
#u2 {
  position:absolute;
  left:50px;
  top:112px;
  width:138px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:54px;
}
#u4 {
  position:absolute;
  left:60px;
  top:140px;
  width:590px;
  height:54px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:72px;
}
#u6 {
  position:absolute;
  left:60px;
  top:214px;
  width:590px;
  height:72px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:90px;
}
#u8 {
  position:absolute;
  left:60px;
  top:294px;
  width:590px;
  height:90px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:18px;
}
#u10 {
  position:absolute;
  left:238px;
  top:412px;
  width:213px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:159px;
}
#u12 {
  position:absolute;
  left:60px;
  top:440px;
  width:300px;
  height:159px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:167px;
}
#u14 {
  position:absolute;
  left:410px;
  top:440px;
  width:260px;
  height:167px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:18px;
}
#u16 {
  position:absolute;
  left:50px;
  top:632px;
  width:125px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u18 {
  position:absolute;
  left:299px;
  top:672px;
  width:92px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u20 {
  position:absolute;
  left:205px;
  top:710px;
  width:300px;
  height:180px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:18px;
}
#u22 {
  position:absolute;
  left:60px;
  top:912px;
  width:139px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:90px;
}
#u24 {
  position:absolute;
  left:60px;
  top:940px;
  width:610px;
  height:90px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
}
#u26 {
  position:absolute;
  left:60px;
  top:1042px;
  width:109px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:54px;
}
#u28 {
  position:absolute;
  left:60px;
  top:1070px;
  width:610px;
  height:54px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:18px;
}
#u30 {
  position:absolute;
  left:60px;
  top:1140px;
  width:139px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:72px;
}
#u32 {
  position:absolute;
  left:60px;
  top:1178px;
  width:610px;
  height:72px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
}
#u34 {
  position:absolute;
  left:60px;
  top:1264px;
  width:109px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:72px;
}
#u36 {
  position:absolute;
  left:60px;
  top:1292px;
  width:610px;
  height:72px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
}
#u38 {
  position:absolute;
  left:60px;
  top:1384px;
  width:109px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:90px;
}
#u40 {
  position:absolute;
  left:60px;
  top:1410px;
  width:610px;
  height:90px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
}
#u42 {
  position:absolute;
  left:60px;
  top:1512px;
  width:83px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:54px;
}
#u44 {
  position:absolute;
  left:60px;
  top:1540px;
  width:610px;
  height:54px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:72px;
}
#u46 {
  position:absolute;
  left:60px;
  top:1604px;
  width:610px;
  height:72px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
}
#u48 {
  position:absolute;
  left:60px;
  top:1690px;
  width:122px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:36px;
}
#u50 {
  position:absolute;
  left:60px;
  top:1718px;
  width:610px;
  height:36px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
}
#u52 {
  position:absolute;
  left:60px;
  top:1770px;
  width:83px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:36px;
}
#u54 {
  position:absolute;
  left:60px;
  top:1800px;
  width:610px;
  height:36px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u56 {
  position:absolute;
  left:60px;
  top:1856px;
  width:92px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:18px;
}
#u58 {
  position:absolute;
  left:60px;
  top:1884px;
  width:610px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:280px;
}
#u60 {
  position:absolute;
  left:60px;
  top:1902px;
  width:590px;
  height:280px;
}
#u61 {
  position:absolute;
  left:2px;
  top:132px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
}
#u62 {
  position:absolute;
  left:60px;
  top:2172px;
  width:83px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:48px;
}
#u64 {
  position:absolute;
  left:60px;
  top:2202px;
  width:610px;
  height:48px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:108px;
}
#u66 {
  position:absolute;
  left:60px;
  top:2270px;
  width:610px;
  height:108px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:36px;
}
#u68 {
  position:absolute;
  left:50px;
  top:2414px;
  width:648px;
  height:36px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
}
#u70 {
  position:absolute;
  left:279px;
  top:2492px;
  width:135px;
  height:18px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:450px;
}
#u72 {
  position:absolute;
  left:36px;
  top:2520px;
  width:659px;
  height:450px;
}
#u73 {
  position:absolute;
  left:2px;
  top:217px;
  width:655px;
  visibility:hidden;
  word-wrap:break-word;
}
